{% load django_bootstrap5 %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}RoomieMatch{% endblock %}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Load Bootstrap CSS and JS here -->
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
  <div>
  <nav class="roomie-nav navbar navbar-expand-lg rm-primary text-white">
    <div class="container">
      <a class="navbar-brand text-white" href="{% url 'web:home' %}">
        Roomie
      </a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'web:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
         
          {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-dark" href="{% url 'web:logout' %}">Logout</a></li>
                  <li><a class="dropdown-item text-dark" href="{% url 'web:dashboard' %}">Dashboard</a></li>
                </ul>
              </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'web:login' %}">Login</a>
          </li>
          <button class="nav-item text-dark bg-white border-0 rounded-2">
            <a class="nav-link" href="{% url 'web:signup' %}">Sign Up</a>
          </button>
          {% endif %}
        </ul>
       
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <!-- Load Bootstrap JS and any other scripts here -->
</div>
<footer class="mt-5">
<div class="container footer">
    <div class="row align-items-center">
      <div class="col-md-6 social-icon d-flex flex-column align-items-start">
        <h4 class="fw-bold align-middle">Roomie</h4>
        <ul class="list-unstyled float-start">
          <li class="pl-0"><a href="#"><i class="fab fa-facebook-f social-icons"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter social-icons"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram social-icons"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 text-md-end">
        <h4>Site Menu</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
      </div>
    </div>
</div>
<div class="container mt-5 mb-5 base-footer">
  <div class="row">
    <div class="col-md-8">
    <div class="d-flex flex-row">
      <small class="flex-fill">&copy; 2023 Roomie. All rights reserved</small>
      <small class="pl-2 flex-fill"><a href="#">Data Protection</a></small>
      <small class="pl-2 flex-fill"><a href="#">Privacy Policy</a></small>
      <small class="pl-2 flex-fill"><a href="#">Terms of Use</a></small>
      <small class="pl-2 flex-fill"><a href="#">Cookie Policy</a></small>
    </div>
  </div>
  </div>
</div>
</footer>
</body>
</html>