
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Sofia Sans', sans-serif;
}
.rm-primary{
    background-color: #0c347f;
}
.rm-text-primary{
    color: #0c347f;
}
.rm-primary-gradient{
    background: linear-gradient(89.92deg, #0C347F -1.88%, rgba(29, 79, 173, 0.963568) 42.78%, rgba(15, 53, 127, 0.91) 108.46%);

}
.rm-card-img{
    background-color:#fff;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    padding: 5px;
}
.btn-primary{
    background-color: #0c347f;
}
a{
    text-decoration:none;
}
nav .navbar a{
    color: #fff;
}
.card-img-top {
    max-width: 20%;
}
.img-300{
    max-width: 300px;
    overflow: hidden;
}
.header-box{
    max-width: 400px;
}

.card{
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
}
.header-box p{
    line-height: 1.5em;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}
.social-icon ul li {
    margin-bottom: 10px;
    padding: 15px;
    display: inline;
}
.social-icon ul li a {
    color: #635f5f;
    text-decoration: none;
}
.login-text-box{
    min-height: 50vh;
    padding: 20px 0 20px 20px;
}
.login-text-box .text{
    color: #fff;
}

.login-nav ul li a.active{
    background-color: #fff;
    padding: 5px 10px 5px 5px;
    border: 0;
    color: #0c347f;
    text-decoration: none;
}

.login-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.social-icon ul li:first-child {
    padding-left: 0px;

}
.base-footer small a{
    color: #383030;
}
.roomie-nav .navbar-nav li a{
    color: #fff;
}
.roomie-nav .navbar-nav li a.active{
    color: #fff;
}

/* Rating Style */

.rate {
    float: left;
    height: 20x;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label:before {
    content: '★ ';
    color: #FFA337;
}
.rate:not(:checked) > label {
    float:left;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate > input:checked ~ label {
    color: #FFA337;
    ;    
}
 .rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #fff;  
}
/*
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
} */

