{% extends 'base.html' %}
{% load static %}

{% block content %}
{% comment %} <div class="jumbotron">
  <h1 class="display-4">Find Your Perfect Roommate!</h1>
  <p class="lead">Join RoomieMatch and connect with potential roommates who share your interests and preferences.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
</div> {% endcomment %}

<div class="container d-flex flex-row align-items-center mt-5">
  
    <div class="col-md-6">
      <div class="header-box">
        <h1 class="rm-text-primary">Looking for a room <br/>or a rooomate?</h1>
        <p>RoomieMatch is a platform that helps university students find their ideal roommates. Whether you're looking for someone who shares your study habits or enjoys the same hobbies, RoomieMatch makes roommate selection easy and stress-free.</p>

        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
    <div class="banner">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-6 mb-3">
              <img src="{% static 'img/banner-1.jpg' %}" class="img-200 rounded img-fluid" alt="...">
            </div>
            <div class="col-md-6 mb-3">
              <img src="{% static 'img/banner-2.jpg' %}" class="img-200 rounded img-fluid" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <img src="{% static 'img/banner-3.jpg' %}" class="img-300 rounded img-fluid" alt="...">
            </div>
        </div>
    </div>
  </div>
  
</div> 
<div class="container mt-5 p-5 rm-primary-gradient">
  <h2 class="text-center text-white">Latest Reviews</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
   
    <div class="col">
      <div class="card h-100 p-3">
        <img src="{% static 'img/avatar.png' %}" class="card-img-top mx-auto" alt="...">
        <div class="card-body mx-auto">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 p-3">
        <img src="{% static 'img/avatar.png' %}" class="card-img-top mx-auto" alt="...">
        <div class="card-body mx-auto">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 p-3">
        <img src="{% static 'img/avatar.png' %}" class="card-img-top mx-auto" alt="...">
        <div class="card-body mx-auto">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
