{% extends 'base.html' %}
{% load static %}

{% block content %}
{% comment %} <div class="jumbotron">
  <h1 class="display-4">Find Your Perfect Roommate!</h1>
  <p class="lead">Join RoomieMatch and connect with potential roommates who share your interests and preferences.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
</div> {% endcomment %}

<div class="container d-flex flex-row align-items-center mt-5">
  
    <div class="col-md-6">
      <div class="header-box">
        <h1 class="text-primary">Looking for a room <br/>or a rooomate?</h1>
        <p>RoomieMatch is a platform that helps university students find their ideal roommates. Whether you're looking for someone who shares your study habits or enjoys the same hobbies, RoomieMatch makes roommate selection easy and stress-free.</p>

        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
    <div class="banner">
    <div class="container d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-md-6 mb-3">
              <img src="{% static 'img/banner-1.jpg' %}" class="img-300 img-fluid rounded d-block" alt="...">
            </div>
            <div class="col-md-6 mb-3">
              <img src="{% static 'img/banner-2.jpg' %}" class="img-300 rounded img-fluid ml-5 d-block" alt="...">
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <img src="{% static 'img/banner-3.jpg' %}" class="img-300 rounded img-fluid ml-5 d-block" alt="...">
            </div>
          </div>
        </div>
    </div>
  </div>
  
</div> 
{% endblock %}
