{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
<div class="container d-flex flex-column justify-content-center mt-5">
  <div class="row">
    <div class="col-md-6">
      <div
        class="login-text-box d-flex align-items-center rm-primary-gradient"
        style="background:transparent url('{{ room.room_photo.url }}') no-repeat center center /cover"
      >
        <div class="text flex-fill">
          <h4>{{ room.room_type|title }} room available</h4>
        </div>
        <div class="login-nav flex-fill">
          <ul class="list-unstyled float-end">
            <li class="pt-2"><a class="active">Add a New Room</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-center">
      <p>Capacity: {{ room.room_capacity }}</p>
    </div>
  </div>
</div>

{% endblock %}
