{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container d-flex flex-column justify-content-center mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="login-text-box d-flex align-items-center rm-primary">
        <div class="text flex-fill">
          <h4>Looking for a <br /> room or a <br />roommate</h4>
        </div>
        <div class="login-nav flex-fill">
          <ul class="list-unstyled float-end">
            <li><a class="text-white">Login</a></li>
            <li class="pt-2"><a class="active">Sign up</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column justify-content-center">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid">
          <button id="submit" type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>

</div>
  
{% endblock %}
